:root {
  --primary-color: #d02323;
  --secondary-color: #000000;

  --primary-color-light: #ffffff;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-family: inherit;
  font-size: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

@media screen and (max-width: 900px) {
  html {
    font-size: 55%;
  }
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}
p {
  font-size: 1.6rem;
  line-height: 150%;
}

.btn {
  font-size: 1.4rem;
}

.btn {
  border-radius: 2rem;
  border: none;
  padding: 1rem 4.85rem;
  color: #ffffff;
  cursor: pointer;
}

.btn--2 {
  background-color: var(--primary-color-light);
  color: var(--secondary-color);
  border-radius: 0.5rem;
  font-size: 1.4rem;
  padding: 1.5rem 3rem;
  border: none;
  cursor: pointer;
  transition: transform 0.25s ease-in;
}
.btn--2:active {
  transform: scale(0.8);
}

.btn__primary,
.btn__secondary {
  transition: all 0.2s ease-in-out;
  perspective: 15rem;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}
.btn__primary:hover,
.btn__secondary:hover {
  transform: translateY(-2px) scale(1.01);
  box-shadow: 0 7px 5px rgba(0, 0, 0, 0.05);
}
.btn__primary:active,
.btn__secondary:active {
  transform: translateY(0) scale(0.99);
  box-shadow: 0 7px 5px rgba(0, 0, 0, 0);
}
.btn__primary {
  background-color: #d02323;
}
.btn__primary-light {
  border: 1px #d02323 solid;
  background-color: transparent;
  color: #d02323;
  transition: all 0.25s ease-in-out;
}
.btn__primary-light:hover {
  background-color: #d02323;
  color: #ffffff;
}
.btn__secondary {
  background-color: #000000;
}

.header {
  display: flex;
  align-items: center;
  padding: 2.45rem 7%;
  position: fixed;
  top: 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  z-index: 1000;
  background-color: var(--primary-color-light);
}
.hamburger {
  flex-direction: column;
  gap: 5px;
  position: absolute;
  right: 7%;
  display: none;
}
.bar {
  background-color: var(--secondary-color);
  width: 3rem;
  height: 4px;
  border-radius: 60rem;
}
.bar:nth-child(2) {
  /* width: 70%; */
  transform: translateX(-1rem);
}

.close_btn {
  display: none;
}
.logo {
  margin-right: auto;
}
.nav {
  display: flex;
  align-items: center;
  gap: 5rem;

  transition: 0.25s ease;
}
.nav.active {
  transform: translateX(0);
}
.nav__list {
  display: flex;
  gap: 2rem;

  list-style: none;
}
.nav__link {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 1.6rem;
  transition: 0.25s ease;
}
.nav__link:hover {
  color: var(--primary-color);
}
@media screen and (min-width: 900px) {
}
@media screen and (max-width: 900px) {
  .nav {
    /* display: none; */
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--secondary-color);
    transform: translateX(100%);

    flex-direction: column;
    justify-content: center;
    z-index: 1500;
    overflow: hidden;
  }
  .nav * {
    color: white;
    font-size: 2.4rem;
  }
  .nav__list {
    flex-direction: column;
    text-align: center;
  }
  .nav__link {
    position: relative;
    z-index: 1500;
  }

  .hamburger {
    display: flex;
    cursor: pointer;
  }
  .close_btn {
    position: absolute;
    top: 4rem;
    left: 6rem;
    font-size: 4rem;
    display: flex;
    z-index: 3000;
    cursor: pointer;
  }
  .nav__item::before {
    content: "";
    display: block;
    height: 40rem;
    width: 40rem;
    position: fixed;
    z-index: 1000;
    left: -10rem;
    top: -10rem;
    background-color: #52151585;
    clip-path: circle(50% at 50% 50%);
    transition: 0.25s ease;

    animation-name: shake1;
    animation-duration: 3s;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  .nav__item::after {
    content: "";
    display: block;
    height: 40rem;
    width: 40rem;
    position: fixed;
    right: -10rem;
    bottom: -10rem;
    background-color: #52151585;
    clip-path: circle(50% at 50% 50%);

    animation-name: shake2;
    animation-duration: 3s;
    animation-delay: 0.7s;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}
.blog__title {
  max-width: 80rem;
  margin-top: 9.35rem;
  margin-inline: 7%;
  padding-top: 3rem;
}
.blog__title h1 {
  font-size: 5rem;
}
@media screen and (max-width: 900px) {
  .blog__title h1 {
    font-size: 3.5rem;
    margin-block: 2rem;
  }
}
.small__heading {
  color: var(--primary-color);
  font-size: 1.6rem;
}
.tech_news {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  padding-inline: 7%;
  margin-block: 6rem 10rem;
}

.tech_new-img {
  width: 100%;
}
.tech_new-img img {
  width: 100%;
}

@keyframes shake1 {
  0% {
    top: -10rem;
    left: -10rem;
  }

  50% {
    top: -5rem;
    left: -5rem;
  }

  100% {
    top: -10rem;
    left: -10rem;
  }
}

@keyframes shake2 {
  0% {
    bottom: -10rem;
    right: -10rem;
  }

  50% {
    bottom: -5rem;
    right: -5rem;
  }

  100% {
    bottom: -10rem;
    right: -10rem;
  }
}
@media screen and (min-width: 1200px) {
  .tech_news {
    align-items: center;
    flex-direction: row;
  }
}
.tech_news-content h2 {
  font-size: 3.2rem;
  margin-block: 0.8rem;
}

.tech_news-content p {
  margin-bottom: 2rem;
}
.popular__post {
  padding-inline: 7%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.posts__container {
  display: grid;
  gap: 1.5rem;
}
.heading__container h3 {
  font-size: 3.2rem;
}
.post__detail p {
  margin-block: 1.5rem 0.8rem;
}
.post__detail a {
  color: var(--primary-color);
  text-decoration: none;
}
.post img {
  width: 100%;
}
@media screen and (min-width: 600px) {
  .posts__container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .posts__container {
    grid-template-columns: repeat(5, 1fr);
  }
}
.mailing__container {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 4.5rem 7%;
  margin-block: 10rem;
}
.mailing__heading {
  color: var(--primary-color-light);
  font-size: 2.4rem;
}
.mailing__form {
  display: flex;
  justify-content: center;
  gap: 2rem;

  align-self: stretch;
}
.mailing__input {
  background-color: transparent;
  color: white;
  outline: none;
  border: 1px solid var(--primary-color-light);
  border-radius: 0.5rem;
  width: 100%;
  max-width: 44rem;
  padding: 1.5rem 3rem;
  height: 5.1rem;
}
.mailing__input::placeholder {
  color: var(--primary-color-light);
}
.icon {
  width: 2rem;
  height: 2rem;
  fill: currentColor;
  backface-visibility: hidden;
  transition: 0.25s ease;
}
.footer__content {
  display: grid;
  justify-content: space-between;

  gap: 2rem;
  padding-inline: 7%;
}

.footer__content h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.quick__list {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.quick__link {
  text-decoration: none;
  color: var(--secondary-color);
}
.details__item {
  display: flex;
  gap: 1rem;
}
.footer__contact-sec {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.copy__right {
  border-top: 1px solid #0d0c0c;
  margin-top: 8.5rem;
  margin-inline: 5%;

  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 3rem 2% 5rem 2%;
}
@media screen and (max-width: 600px) {
  .copy__right {
    flex-direction: column;
    text-align: center;
  }
}
.footer__about img {
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 900px) {
  .footer__content {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer__quick-links {
    justify-self: center;
  }
}
.blog {
  margin-top: 14.5rem;
  padding-inline: 7%;
}
.blog__img {
  margin-bottom: 3rem;
}
.blog__img img {
  width: 100%;
}
.blog_content {
  margin-bottom: 3rem;
}
.blog_content h1 {
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-size: 3.2rem;
}
.blog_content p:not(:last-child) {
  margin-bottom: 2rem;
}
.profile__section {
  display: flex;
  gap: 1.6rem;
}
.profile_photo {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  object-fit: cover;
}
.profile_detail {
  font-size: 1.4rem;
}
.profile_name {
  font-weight: 600;
  margin-bottom: 0.3rem;
}
.unread {
  color: var(--primary-color);
}
.timesent {
  color: #3e3d3d;
}
.comment_section {
  padding-inline: 7%;
  width: 100%;
  max-width: 80rem;
  margin-block: 5rem 10rem;
}
.comment_content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.comment_content-within {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1rem;
}
@media screen and (min-width: 600px) {
  .comment_content-within {
    margin-left: 6.56rem;
  }
}
.comment_action {
  display: flex;
  gap: 2rem;
}
.comment_action-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.comment_section {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.btn-comment {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: transparent;
  border: 1px solid var(--secondary-color);
  border-radius: 2rem;
  padding: 1.5rem 2rem;
  transition: all 0.25s ease;
  margin-bottom: 4rem;
  cursor: pointer;
  backface-visibility: hidden;
}
.btn-comment:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color-light);
}
.btn-comment:hover .icon {
  transform: rotate(180deg);
}
.btn-comment:active {
  transform: scale(0.8);
}
.sec {
  align-items: center;
}
